<header class="header">
  <div class="container">

    <nav class="menu">

      <a class="logo header__logo" href="#">
        <img src="images/logo.svg" alt="Логотип сайта" width="200" height="39">
      </a>

      <button class="burger close" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Закрыть меню</span>
      </button>
      <ul class="menu__list">


        <li class="menu__item">
          <a class="menu__link menu__link--active">
            Главная
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="catalog.html">
            Блюда
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link menu__link--contacts" href="#contacts">
            Контакты
          </a>
        </li>

        <address class="address header__address">
          <ul class="contacts">
            <li class="contacts__item">
              <a class="contacts__link contacts__link--address" href="#">
                ул. Т.Г.Шевченко, 1
              </a>
            </li>
            <li class="contacts__item">
              <a class="contacts__link contacts__link--tel" href="tel:380501112233">
                380501112233
              </a>
            </li>
            <li class="contacts__item">
              <a class="contacts__link contacts__link--email" href="mailto:support@sfood.com">
                support@sfood.com
              </a>
            </li>
          </ul>

          <ul class="footer__social social">
            <li class="social__item">
              <a class="social__link" href="#" style="background-image: url(images/sprite.svg#facebook);">
                <span class="sr-only">Перейти на нашу страницу в facebook</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" style="background-image: url(images/sprite.svg#twitter);">
                <span class="sr-only">Перейти на нашу страницу в twitter</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--instagram" href="#"
                style="background-image: url(images/sprite.svg#instagram);">
                <span class="sr-only">Перейти на нашу страницу в instagram</span>
              </a>
            </li>
          </ul>

        </address>
      </ul>

      <div class="user-nav">
        <button class="user-nav__link user-nav__link--search" type="button">
          <span class="sr-only">Начать поиск продукта</span>
        </button>
        <button class="user-nav__link user-nav__link--card">
          <span class="sr-only">Открыть корзину с товарами</span>
          <span class="user-nav__num">4</span>
        </button>
      </div>

      <button class="burger burger-open" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Открыть меню</span>
      </button>
    </nav>

  </div>
</header>