<section class="section categories">
  <div class="container">


    <h2 class="title categories__title">
      Популярные категории
    </h2>

    <ul class="categories__filter">
      <li class="categories__box">
        <button class="categories__button categories__button--burger" type="button"
          data-filter=".category-burger">Бургеры</button>
      </li>
      <li class="categories__box">
        <button class="categories__button categories__button--pizza" type="button"
          data-filter=".category-pizza">Пицца</button>
      </li>
      <li class="categories__box">
        <button class="categories__button categories__button--sandwich" type="button"
          data-filter=".category-sandwitch">Сендвичи</button>
      </li>
      <li class="categories__box">
        <button class="categories__button categories__button--asia" type="button"
          data-filter=".category-aziatian">Азиатская кухня</button>
      </li>
      <li class="categories__box">
        <button class="categories__button categories__button--sets" type="button"
          data-filter=".category-sets">Cеты</button>
      </li>
    </ul>

    <div class="categories__list">
      <ul class="categories__wrapper mix category-burger">
        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/cheeseburger.png"
                alt="Фото чизбургер с листьями салата" width="140" height="140">
              <h3 class="product-card__name">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">
              160
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/bif-burger.png" alt="Фото бифбургера" width="140"
                height="140">
              <h3 class="product-card__name">Бифбургер</h3>
            </a>
            <span class="product-card__price">
              190
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/qween-burger.png" alt="Фото королевского чизбергера"
                width="140" height="140">
              <h3 class="product-card__name">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">
              260
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/black-burger.png" alt="Фото черного гамбургера"
                width="140" height="140">
              <h3 class="product-card__name">Черный гамбургер</h3>
            </a>
            <span class="product-card__price">
              199
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/chiken-burger.png" alt="Фото чикен бургера" width="140"
                height="140">
              <h3 class="product-card__name">Чикен бургер</h3>
            </a>
            <span class="product-card__price">
              180
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/cheeseburger.png"
                alt="Фото чизбургер с листьями салата" width="140" height="140">
              <h3 class="product-card__name">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">
              160
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/bif-burger.png" alt="Фото бифбургера" width="140"
                height="140">
              <h3 class="product-card__name">Бифбургер</h3>
            </a>
            <span class="product-card__price">
              190
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/qween-burger.png" alt="Фото королевского чизбергера"
                width="140" height="140">
              <h3 class="product-card__name">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">
              260
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/black-burger.png" alt="Фото черного гамбургера"
                width="140" height="140">
              <h3 class="product-card__name">Черный гамбургер</h3>
            </a>
            <span class="product-card__price">
              199
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/chiken-burger.png" alt="Фото чикен бургера" width="140"
                height="140">
              <h3 class="product-card__name">Чикен бургер</h3>
            </a>
            <span class="product-card__price">
              180
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>
      </ul>

      <ul class="categories__wrapper mix category-pizza">
        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/cheeseburger.png"
                alt="Фото чизбургер с листьями салата" width="140" height="140">
              <h3 class="product-card__name">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">
              160
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/bif-burger.png" alt="Фото бифбургера" width="140"
                height="140">
              <h3 class="product-card__name">Бифбургер</h3>
            </a>
            <span class="product-card__price">
              190
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/qween-burger.png" alt="Фото королевского чизбергера"
                width="140" height="140">
              <h3 class="product-card__name">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">
              260
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/black-burger.png" alt="Фото черного гамбургера"
                width="140" height="140">
              <h3 class="product-card__name">Черный гамбургер</h3>
            </a>
            <span class="product-card__price">
              199
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/chiken-burger.png" alt="Фото чикен бургера" width="140"
                height="140">
              <h3 class="product-card__name">Чикен бургер</h3>
            </a>
            <span class="product-card__price">
              180
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>
      </ul>

      <ul class="categories__wrapper mix category-sandwitch">
        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/cheeseburger.png"
                alt="Фото чизбургер с листьями салата" width="140" height="140">
              <h3 class="product-card__name">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">
              160
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/bif-burger.png" alt="Фото бифбургера" width="140"
                height="140">
              <h3 class="product-card__name">Бифбургер</h3>
            </a>
            <span class="product-card__price">
              190
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/qween-burger.png" alt="Фото королевского чизбергера"
                width="140" height="140">
              <h3 class="product-card__name">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">
              260
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

      </ul>

      <ul class="categories__wrapper mix category-aziatian">
        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/cheeseburger.png"
                alt="Фото чизбургер с листьями салата" width="140" height="140">
              <h3 class="product-card__name">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">
              160
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/bif-burger.png" alt="Фото бифбургера" width="140"
                height="140">
              <h3 class="product-card__name">Бифбургер</h3>
            </a>
            <span class="product-card__price">
              190
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/qween-burger.png" alt="Фото королевского чизбергера"
                width="140" height="140">
              <h3 class="product-card__name">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">
              260
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/black-burger.png" alt="Фото черного гамбургера"
                width="140" height="140">
              <h3 class="product-card__name">Черный гамбургер</h3>
            </a>
            <span class="product-card__price">
              199
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/chiken-burger.png" alt="Фото чикен бургера" width="140"
                height="140">
              <h3 class="product-card__name">Чикен бургер</h3>
            </a>
            <span class="product-card__price">
              180
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/cheeseburger.png"
                alt="Фото чизбургер с листьями салата" width="140" height="140">
              <h3 class="product-card__name">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">
              160
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/bif-burger.png" alt="Фото бифбургера" width="140"
                height="140">
              <h3 class="product-card__name">Бифбургер</h3>
            </a>
            <span class="product-card__price">
              190
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/qween-burger.png" alt="Фото королевского чизбергера"
                width="140" height="140">
              <h3 class="product-card__name">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">
              260
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/black-burger.png" alt="Фото черного гамбургера"
                width="140" height="140">
              <h3 class="product-card__name">Черный гамбургер</h3>
            </a>
            <span class="product-card__price">
              199
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/chiken-burger.png" alt="Фото чикен бургера" width="140"
                height="140">
              <h3 class="product-card__name">Чикен бургер</h3>
            </a>
            <span class="product-card__price">
              180
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>
      </ul>

      <ul class="categories__wrapper mix category-sets">
        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/cheeseburger.png"
                alt="Фото чизбургер с листьями салата" width="140" height="140">
              <h3 class="product-card__name">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">
              160
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>

        <li class="categories__item">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/burgers/bif-burger.png" alt="Фото бифбургера" width="140"
                height="140">
              <h3 class="product-card__name">Бифбургер</h3>
            </a>
            <span class="product-card__price">
              190
              <span>грн.</span>
            </span>
            <button class="product-card__btn" type="button">В корзину</button>
          </article>
        </li>
      </ul>

    </div>

    <button class="link product-card__more" type="button">Показать еще</button>

  </div>
</section>