<section class="section restaurant">
  <div class="container">
    <h2 class="title restaurant__title">
      Лучшие рестораны
    </h2>
    <ul class="restaurant-slider restaurant__list">
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/blaze.jpg" alt="Фото ресторана Blaze Pizza"
            width="370" height="300">
          <div class="restaurant-card__content">
            <h3 class="restaurant-card__name">
              Blaze Pizza
            </h3>
            <div class="restaurant-card__box">
              <div class="restaurant-card__time">
                <span class="sr-only">Время работы ресторана</span>
                11:00 - 22:00
              </div>
              <a class="restaurant-card__link" href="#">
                <span class="sr-only">Перейти на страницу ресторана Blaze Pizza</span>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/runcho.jpg" alt="Фото ресторана Pizza Runcho"
            width="370" height="300">
          <div class="restaurant-card__content">
            <h3 class="restaurant-card__name">
              Pizza Runcho
            </h3>
            <div class="restaurant-card__box">
              <div class="restaurant-card__time">
                <span class="sr-only">Время работы ресторана</span>
                12:00 - 21:00
              </div>
              <a class="restaurant-card__link" href="#">
                <span class="sr-only">Перейти на страницу ресторана Pizza Runcho</span>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/hut.jpg" alt="Фото ресторана Pizza Hut" width="370"
            height="300">
          <div class="restaurant-card__content">
            <h3 class="restaurant-card__name">
              Pizza Hut
            </h3>
            <div class="restaurant-card__box">
              <div class="restaurant-card__time">
                <span class="sr-only">Время работы ресторана</span>
                11:00 - 22:00
              </div>
              <a class="restaurant-card__link" href="#">
                <span class="sr-only">Перейти на страницу ресторана Pizza Hut</span>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/mcdonalds.jpg" alt="Фото ресторана McDonald`s"
            width="370" height="300">
          <div class="restaurant-card__content">
            <h3 class="restaurant-card__name">
              McDonald`s
            </h3>
            <div class="restaurant-card__box">
              <div class="restaurant-card__time">
                <span class="sr-only">Время работы ресторана</span>
                06:00 - 23:00
              </div>
              <a class="restaurant-card__link" href="#">
                <span class="sr-only">Перейти на страницу ресторана McDonald`s</span>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/kfc.jpg" alt="Фото ресторана KFC" width="370"
            height="300">
          <div class="restaurant-card__content">
            <h3 class="restaurant-card__name">
              KFC
            </h3>
            <div class="restaurant-card__box">
              <div class="restaurant-card__time">
                <span class="sr-only">Время работы ресторана</span>
                06:00 - 23:30
              </div>
              <a class="restaurant-card__link" href="#">
                <span class="sr-only">Перейти на страницу ресторана KFC</span>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/star.jpg" alt="Фото ресторана Star Burgers"
            width="370" height="300">
          <div class="restaurant-card__content">
            <h3 class="restaurant-card__name">
              Star Burgers
            </h3>
            <div class="restaurant-card__box">
              <div class="restaurant-card__time">
                <span class="sr-only">Время работы ресторана</span>
                09:00 - 21:00
              </div>
              <a class="restaurant-card__link" href="#">
                <span class="sr-only">Перейти на страницу ресторана Star Burgers</span>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>