<section class="section reviews">
  <div class="container">
    <h2 class="title reviews__title">
      Отзывы клиентов
    </h2>
    <div class="reviews-slider ">
      <div class="reviews-slider__inner">
        <div class="reviews-slider__item">
          <img class="reviews-slider__img" src="images/slider/photo.jpg" alt="Фото ценителя вкусной еды Дарьи"
            width="300" height="300">
          <figure class="reviews-slider__quote">
            <blockquote class="reviews-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
              на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="reviews-slider__name">
              Дарья
              <cite class="reviews-slider__cite">
                Ценитель вкусной еды
              </cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="reviews-slider__inner">
        <div class="reviews-slider__item">
          <img class="reviews-slider__img" src="images/slider/photo.jpg" alt="Фото ценителя вкусной еды Дарьи"
            width="300" height="300">
          <figure class="reviews-slider__quote">
            <blockquote class="reviews-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
              на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="reviews-slider__name">
              Дарья
              <cite class="reviews-slider__cite">
                Ценитель вкусной еды
              </cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="reviews-slider__inner">
        <div class="reviews-slider__item">
          <img class="reviews-slider__img" src="images/slider/photo.jpg" alt="Фото ценителя вкусной еды Дарьи"
            width="300" height="300">
          <figure class="reviews-slider__quote">
            <blockquote class="reviews-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
              на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="reviews-slider__name">
              Дарья
              <cite class="reviews-slider__cite">
                Ценитель вкусной еды
              </cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="reviews-slider__inner">
        <div class="reviews-slider__item">
          <img class="reviews-slider__img" src="images/slider/photo.jpg" alt="Фото ценителя вкусной еды Дарьи"
            width="300" height="300">
          <figure class="reviews-slider__quote">
            <blockquote class="reviews-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
              на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="reviews-slider__name">
              Дарья
              <cite class="reviews-slider__cite">
                Ценитель вкусной еды
              </cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>