<section class="section download-app">
  <div class="container">
    <div class="download-app__inner" style="background-image: url(images/app-bg.jpg);">
      <div class="download-app__info">
        <h2 class="title download-app__title">
          Скачайте мобильное приложение
        </h2>
        <div class="download-app__text">
          <p>
            Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
            удобном месте.
          </p>
        </div>
        <ul class="download-app__list">
          <li class="download-app__item">
            <a class="download-app__link" href="#" style="background-image: url(images/app-store.png);">
              <span class="sr-only">Нажать для перехода в App Store</span>
            </a>
          </li>
          <li class="download-app__item">
            <a class="download-app__link" href="#" style="background-image: url(images/google-play.png);">
              <span class="sr-only">Нажать для перехода в Google Play</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>