<section class="section sales">
  <div class="container">
    <h2 class="title sales__title">
      Акции и скидки
    </h2>
    <ul class="restaurant-slider sales__list">
      <li class="sales__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/blaze.jpg" alt="Фото ресторана Blaze Pizza"
            width="370" height="300">
          <div class="restaurant-card__content">
            <a class="restaurant-card__text" href="#">
              Скидка 50% на вторую пиццу
            </a>
          </div>
        </article>
      </li>
      <li class="sales__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/kfc.jpg" alt="Фото ресторана KFC" width="370"
            height="300">
          <div class="restaurant-card__content">
            <a class="restaurant-card__text" href="#">
              Картошечка из KFC даром при заказе бургера
            </a>
          </div>
        </article>
      </li>
      <li class="sales__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurant/star.jpg" alt="Фото ресторана Star Burgers"
            width="370" height="300">
          <div class="restaurant-card__content">
            <a class="restaurant-card__text" href="#">
              Чёрные бургеры на чёрный день
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>