<section class="product-info">
  <h1 class="sr-only">Самая быстрая доставка еды</h1>
  <div class="product-info__wrapper">
    <div class="container">
      <div class="product-info__inner">

        <div class="product-info__popup product-popup">
          <div class="product-popup__box">
            <a class="product-popup__link" href="#popup">
              <img class="product-popup__img" src="images/product/burger-s.png" alt="Фото бургера" width="400"
                height="400">
            </a>
            <a class="product-popup__link" href="#popup">
              <img class="product-popup__img" src="images/product/burger-s.png" alt="Фото бургера" width="400"
                height="400">
            </a>
            <a class="product-popup__link" href="#popup">
              <img class="product-popup__img" src="images/product/burger-s.png" alt="Фото бургера" width="400"
                height="400">
            </a>
          </div>

          <div id="popup" class="product-popup__inner mfp-hide">
            <div class="product-popup__slider product-slider">
              <div class="product-slider__item">
                <img class="product-slider__img" src="images/product/burger.png" alt="Фото бургера zoom" width="750"
                  height="750">
              </div>
              <div class="product-slider__item">
                <img class="product-slider__img" src="images/product/burger.png" alt="Фото бургера zoom" width="750"
                  height="750">
              </div>
              <div class="product-slider__item">
                <img class="product-slider__img" src="images/product/burger.png" alt="Фото бургера zoom" width="750"
                  height="750">
              </div>
            </div>
          </div>
        </div>

        <div class="product-info__content">
          <h2 class="title product-info__title">
            Чизбургер с листьями салата
          </h2>
          <div class="star product-info__star" data-rateyo-rating="4" data-rateyo-read-only="true"></div>
          <div class="product-info__price">
            160
            <span>грн.</span>
          </div>
          <form class="product-info__form" action="#" name="productForm">
            <label class="sr-only" for="num">Выбрать количество товара</label>
            <input class="product-info__input" type="number" id="num" name="num" min="1" value="1">
            <button class="btn-icon" type="button">Добавить в корзину</button>
          </form>
          <h3 class="product-info__order">
            Доставка и оплата
          </h3>
          <ul class="product-info__list">
            <li class="product-info__item">
              <p>Минимальная сумма заказа — 160 грн.</p>
            </li>
            <li class="product-info__item">
              <p>Время доставки заказа — 80-140 мин.</p>
            </li>
            <li class="product-info__item">
              <p>Оплата осуществляется только банковской картой.</p>
            </li>
            <li class="product-info__item">
              <p>Окончательная сумма заказа формируется после сбора товаров.</p>
            </li>
          </ul>
          <a class="link" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>

  <div class="product-info__tabs">
    <div class="section container">
      <div class="product-tabs">

        <div class="product-tabs__filter">
          <a class="product-tabs__link product-tabs__link--active" href="#description">
            Описание
          </a>
          <a class="product-tabs__link" href="#characteristics">
            Характеристики
          </a>
          <a class="product-tabs__link" href="#reviews">
            Отзывы
            <span>(2)</span>
          </a>
        </div>

        <div class="product-tabs__content">

          <div id="description" class="product-description product-descr product-descr--active">
            <p class="product-description__text">
              Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер»,
              кетчупом, горчицей, луком и маринованными огурчиками.
            </p>
            <p class="product-description__text">
              Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
            </p>
            <p class="product-description__text">
              Внешний вид товара может отличаться от изображений, представленных на сайте.
            </p>
          </div>

          <ul id="characteristics" class="product-characteristics product-descr">
            <li class="product-characteristics__item">
              Диаметр:
              <span class="product-characteristics__num">
                20 см
              </span>
            </li>
            <li class="product-characteristics__item">
              Вес:
              <span class="product-characteristics__num">
                300 гр
              </span>
            </li>
            <li class="product-characteristics__item">
              Калорийность (на 100г):
              <span class="product-characteristics__num">
                295 ккал
              </span>
            </li>
            <li class="product-characteristics__item">
              Срок хранения:
              <span class="product-characteristics__num">
                до 3 дней
              </span>
            </li>
          </ul>

          <div id="reviews" class="product-reviews product-descr">

            <h3 class="product-reviews__title">
              Мнения наших клиентов
            </h3>
            <div class="product-reviews__inner">

              <div class="product-reviews__item">
                <div class="product-reviews__item-top">
                  <a class="product-reviews__link" href="#">
                    <img class="product-reviews__img" src="images/product/review-img.jpg" alt="Фото Андрея" width="70"
                      height="70">
                  </a>
                  <div class="product-reviews__box">
                    <a class="product-reviews__name">Андрей</a>
                    <div class="product-reviews__date">10.06.2021</div>
                  </div>
                  <div class="star product-reviews__star" data-rateyo-rating="5" data-rateyo-read-only="true">
                    <span class="sr-only">Рейтинг Андрея</span>
                  </div>
                </div>
                <div class="product-reviews__text">
                  <p>
                    Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
                  </p>
                </div>
              </div>

              <div class="product-reviews__item">
                <div class="product-reviews__item-top">
                  <a class="product-reviews__link" href="#">
                    <img class="product-reviews__img" src="images/product/review-img.jpg" alt="Фото Екатерины Белой"
                      width="70" height="70">
                  </a>
                  <div class="product-reviews__box">
                    <a class="product-reviews__name">Екатерина Белая</a>
                    <div class="product-reviews__date">7.06.2021</div>
                  </div>
                  <div class="star product-reviews__star" data-rateyo-rating="4" data-rateyo-read-only="true">
                    <span class="sr-only">Рейтинг Екатерины Белой</span>
                  </div>
                </div>
                <div class="product-reviews__text">
                  <p>
                    этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь
                    приготовить. Это отличный вариант, чтобы съесть на ходу, но чтобы побаловать себя, я больше
                    предпочту пиццу
                  </p>
                </div>
              </div>

            </div>

            <form class="product-reviews__form" action="#" name="product-reviewsForm">
              <h3 class="product-reviews__title">
                Оставить отзыв
              </h3>

              <div class="product-reviews__scale">
                <span class="product-reviews__grade">Ваша оценка *</span>
                <div class="product-reviews__rating star">
                </div>
              </div>
              <div class="product-reviews__wrapper">
                <div class="product-reviews__box-textarea">
                  <label class="product-reviews__label" for="review">
                    Ваш отзыв *
                  </label>
                  <textarea class="product-reviews__textarea" name="review" id="review"
                    placeholder="Введите текст отзыва"></textarea>
                </div>

                <div class="product-reviews__block">
                  <label class="product-reviews__label" for="name">
                    Имя
                  </label>
                  <input class="product-reviews__input" type="text" name="name" id="name"
                    placeholder="Введите ваше имя"></input>

                  <label class="product-reviews__label" for="email">
                    Email *
                  </label>
                  <input class="product-reviews__input" type="email" name="email" id="email"
                    placeholder="youremail@mail.com"></input>
                </div>
              </div>


              <input class="product-reviews__input-check" type="checkbox" name="check" id="check"></input>
              <label class="product-reviews__label-check" for="check">
                Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
              </label>

              <button class="btn" type="submit">Оставить отзыв</button>

            </form>

          </div>

        </div>

      </div>
    </div>
  </div>

</section>