.product-popup {

  &__box {
    padding: 75px 105px;
    box-shadow: 0 0 0 1px $silver-200;
    border-radius: 5px;

    @include r($r-md) {
      padding: 22px;
    }
  }

  &__inner {
    position: relative;
    background: #FFF;
    padding: 60px 0 162px;
    width: auto;
    max-width: 1728px;
    margin: 0px auto;

    @include r($r-lg) {
      padding: 0;
      padding-bottom: 20px;
    }
  }

  .slick__btn {
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
    outline: transparent;

    &::before {
      content: '';
      width: 19px;
      height: 32px;
      background-color: $darkBlue-900e;
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;
      transition: background-color .4s linear, border-color .4s linear, box-shadow .4s linear;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: #fff2ed;
      border-color: #ffae94;
    }

    &:active {
      background-color: #fff2ed;
      border: 3px solid transparent;

      &::before {
        background-color: #ff7a50;
      }
    }
  }

  .slick-prev {
    left: 25px;

    &:before {
      mask-image: url('../images/sprite.svg#arrow-left-slider');
    }
  }

  .slick-next {
    right: 25px;

    &::before {
      mask-image: url('../images/sprite.svg#arrow-right-slider');
    }
  }

  &__link {
    outline: transparent;
  }

  &__img {
    @include r($r-md) {
      width: 300px;
      height: 300px;
    }
  }
}