.restaurant {

  @include r($r-md) {
    padding-bottom: 85px;
  }

  &__title {
    margin-bottom: 45px;
    text-align: center;
    @include line-clamp(1);

    @include r($r-sm) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include r($r-lg) {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }


    &.slick-dots {
      @include r($r-lg) {
        position: absolute;
        display: flex;
        bottom: -45px;
      }
    }
  }

}