.reviews-slider {
  padding: 0 90px;

  @media(max-width: $md) {
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @media(max-width: $lg) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;
    object-fit: cover;

    @media(max-width: $lg) {
      margin: 0 auto 12px;
    }

    @media(max-width: $sm) {
      width: 100px;
      height: 100px;
    }
  }

  &__quote {
    padding: 30px 40px;

    @media(max-width: $sm) {
      padding: 15px 40px;
    }
  }

  &__blockquote {
    font-style: italic;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 570px;
    position: relative;
    @include line-clamp(10);
   
    @media(max-width: $sm) {
      font-size: 14px;
      margin-bottom: 15px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 20px;
    }

    &::before {
      background-image: url(../images/icons/quotes-left.svg);
      left: -40px;
    }

    &::after {
      background-image: url(../images/icons/quotes-right.svg);
      right: -40px;
      bottom: 0px;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    color: $orange-900;
  }

  &__cite {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    display: block;
    margin-top: 15px;
    color: $dark;

    @media(max-width: $sm) {
      margin-top: 10px;
    }
  }

  .slick__btn {
    width: 40px;
    height: 40px;
    bottom: -10px;
    border-radius: 50%;
    border: 3px solid $gray;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
    outline: transparent;
    z-index: 10;

    @media(max-width: $lg) {
      top: 22%;
    }

    @media(max-width: $sm) {
      top: 30px;
    }

    &::before {
      content: '';
      width: 11px;
      height: 19px;
      background-color: $gray;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      transition: background-color .4s linear, border-color .4s linear, box-shadow .4s linear;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: #fff2ed;
      border-color: #ffae94;
    }

    &:active {
      background-color: #fff2ed;
      border: 3px solid transparent;

      &::before {
        background-color: #ff7a50;
        ;
      }
    }
  }

  .slick-prev {
    left: 40%;

    &:before {
      mask-image: url('../images/sprite.svg#prev-arrow');
    }

    @media(max-width: $lg) {
      left: 12%;
    }
  }

  .slick-next {
    right: 40%;

    &::before {
      mask-image: url('../images/sprite.svg#next-arrow');
    }

    @media(max-width: $lg) {
      right: 8%;
    }
  }
}