.reviews {
  margin-bottom: 12px;

  @media(max-width: $sm) {
    margin-bottom: 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @media(max-width: $sm) {
      margin-bottom: 30px;
    }
  }
}